img {
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: optimize-contrast;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor
}

body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

div[contenteditable], span[contenteditable] {
  -webkit-touch-callout: auto;
  -webkit-user-select: auto;
  -khtml-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto
}

::-webkit-scrollbar {
  background: transparent
}

::-webkit-scrollbar-track {
  background: transparent
}

::-webkit-scrollbar-thumb {
  background: rgba(200, 200, 200, 0.8)
}

.noscroll::-webkit-scrollbar {
  background: black
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: pixel;
  color: white;
  word-wrap: break-word;
  -webkit-font-smoothing: subpixel-antialiased
}

canvas {
  display: block
}

.psuccess {
  color: #5dac40
}

.pfail {
  color: #ac393e
}

.iqui {
  border: 2px solid gray;
  background: black;
  padding: 1px 2px 1px 3px;
  position: absolute;
  right: -2px;
  bottom: -2px;
  text-align: center;
  line-height: 16px;
  font-size: 24px;
  height: 16px
}

.iuui {
  border: 2px solid gray;
  background: black;
  padding: 1px 2px 1px 3px;
  position: absolute;
  left: -2px;
  bottom: -2px;
  text-align: center;
  line-height: 16px;
  font-size: 24px;
  height: 16px;
  color: gray
}

.truui {
  border: 2px solid gray;
  background: black;
  padding: 1px 2px 1px 3px;
  position: absolute;
  left: -2px;
  top: -2px;
  text-align: center;
  line-height: 16px;
  font-size: 24px;
  height: 16px;
  color: gray
}

.ering {
  border: 2px solid gray;
  padding: 8px;
  display: inline-block
}

.level8 {
  color: #ffc949
}

.level9 {
  color: #e64d31
}

.level10 {
  color: #b753c7
}

.infop {
  color: #9e9e9e
}

.infot {
  margin-top: 4px
}

.itemnumi {
  vertical-align: middle;
  width: 40px;
  height: 16px;
  line-height: 16px;
  font-size: 16px;
  font-family: Pixel;
  margin-right: 5px;
  display: inline-block;
  border: 0;
  padding-left: 5px;
  background: #7d7d7d;
  color: white
}

#gamelog, #chatlog {
  height: 208px;
  width: 300px;
  background: #000;
  line-height: 24px;
  font-size: 24px;
  text-align: left;
  vertical-align: middle;
  padding: 10px;
  overflow-y: scroll;
  border: 5px solid gray
}

.chatlog {
  line-height: 24px;
  font-size: 24px;
  text-align: left;
  vertical-align: middle;
  padding: 10px;
  overflow-y: scroll;
  height: 190px
}

#chatinput {
  position: fixed;
  z-index: 99;
  bottom: 5px;
  left: 5px;
  width: 314px;
  height: 30px;
  font-size: 24px;
  font-family: Pixel;
  display: inline-block;
  background: #404040;
  color: white;
  border: 0;
  padding: 3px
}

.chatinput {
  width: 314px;
  height: 30px;
  font-size: 24px;
  font-family: Pixel;
  display: inline-block;
  background: #404040;
  color: white;
  border: 0;
  padding: 3px
}

.ccinput, .ccinput:focus {
  border: 0;
  outline: 0;
  background: 0;
  padding: 5px 12px 5px 12px;
  color: white;
  font-size: 36px;
  font-family: Pixel
}

.newmessage {
  color: green
}

.tint {
  position: relative;
  z-index: 1;
  overflow: hidden
}

.ontint {
  position: relative;
  z-index: 2
}

#chatlog {
  z-index: 98;
  left: 0
}

.chatentry {
  margin-bottom: 30px
}

.chatentry+.chatentry {
  margin-top: -30px
}

#topleftcorner {
  z-index: 109;
  top: 0;
  left: 0;
  position: fixed
}

#toprightcorner {
  z-index: 100;
  top: 0;
  right: 0;
  position: fixed
}

#bottomrightcorner {
  z-index: 300;
  bottom: 0;
  right: 0;
  position: fixed
}

#bottomleftcorner2 {
  z-index: 99;
  bottom: 0;
  left: 0;
  position: fixed
}

#bottomleftcorner {
  z-index: 100;
  bottom: 0;
  left: 0;
  position: fixed
}

.slimbutton {
  display: inline-block;
  border: 2px solid gray;
  font-size: 24px;
  line-height: 24px;
  padding: 5px 10px 5px 10px;
  background: black;
  text-align: center
}

.gamebutton {
  display: inline-block;
  border: 4px solid gray;
  font-size: 24px;
  line-height: 24px;
  padding: 12px;
  background: black;
  text-align: center
}

.blockbutton {
  display: block;
  border: 4px solid gray;
  font-size: 24px;
  line-height: 24px;
  padding: 12px;
  background: black;
  text-align: center
}

a.textbutton {
  color: inherit;
  text-decoration: none
}

a.gamebutton {
  color: inherit;
  text-decoration: none
}

.gamebutton.active {
  border-color: green
}

.gamebutton-large {
  font-size: 36px;
  line-height: 36px
}

.gamebutton-small {
  padding: 4px 8px 4px 8px;
  border: 2px solid gray
}

#pagewrapped {
  margin-top: 400px;
  width: 400px;
  z-index: 205;
  display: inline-block
}

.loginorselection {
  text-align: center;
  -webkit-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
  -moz-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4)
}

#codeui {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 800px;
  display: none;
  z-index: 301
}

.CodeMirror {
  height: 100%;
  width: 100%;
  font-family: Pixel;
  font-size: 24px;
  letter-spacing: 1px
}

.engagebutton, .dengagebutton {
  position: absolute;
  right: 5px;
  bottom: 5px;
  z-index: 200
}

.loginorselection, #features, #backbutton, #topui, #codeui {
  background: black;
  border: 5px solid gray;
  padding: 10px
}

#pagewrapper {
  z-index: 200;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  vertical-align: middle;
  text-align: center
}

#features {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 201
}

#topui {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 201;
  padding-left: 15px;
  padding-right: 15px
}

#backbutton {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 201;
  padding-left: 15px;
  padding-right: 15px
}

.input {
  padding: 20px;
  font-size: 18px
}

.button {
  background: #4c3634;
  padding: 20px;
  font-size: 18px;
  font-weight: bold;
  border: 0
}

.button.disable {
  background: #2e4c28
}

.textbutton, .whiteheader {
  font-size: 24px
}

.textbutton.disable {
  color: #3a783e
}

.logout.disable {
  color: #787878
}

.input, .button {
  border: none!important
}

.selectioninput {
  font-size: 24px;
  padding: 2px;
  font-family: pixel;
  text-align: center
}

.chartype {
  border: 2px solid black;
  display: inline-block;
  padding: 4px 6px 4px 6px;
  margin: 3px 0 2px 3px
}

.chartype.selected {
  border: 2px solid gray
}

.gendertype {
  border: 2px solid black;
  display: inline-block;
  padding: 4px 6px 4px 6px;
  margin: 3px 0 2px 3px
}

.gendertype.selected {
  border: 2px solid gray
}

input:focus, button:focus, div:focus {
  outline: none!important;
  box-shadow: none!important
}

.block {
  box-sizing: border-box;
  width: 100%
}

li {
  font-size: 24px
}

.vtopx {
  margin-bottom: 0;
  margin-top: 0;
  vertical-align: top
}

.glow8 {
  -webkit-box-shadow: 0 0 3px orange;
  -moz-box-shadow: 0 0 3px orange;
  box-shadow: 0 0 3px orange
}

.glow9 {
  -webkit-box-shadow: 0 0 5px #e6434b;
  -moz-box-shadow: 0 0 5px #e6434b;
  box-shadow: 0 0 5px #e6434b
}

.glow10 {
  -webkit-box-shadow: 0 0 7px #ffe000;
  -moz-box-shadow: 0 0 7px #ffe000;
  box-shadow: 0 0 7px #ffe000
}

.textglow {
  animation: textglow 4s infinite alternate
}

@keyframes textglow {
  to {
    text-shadow: 0 0 2px orange
  }
}

.boxglow {
  animation: boxglow 3s infinite alternate
}

@keyframes boxglow {
  from {
    box-shadow: 0 0 1px orange
  }
  to {
    box-shadow: 0 0 4px orange
  }
}